body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    background:lemonchiffon;
}

.btn {
    text-decoration: none;
    font-family: sans-serif;
    font-size: .9rem;
    padding: .75em;
    text-transform: uppercase;
    background: none;
    color: #2c2c2c;
    border: 1px solid #4a4a4a;
    transition: all 200ms;
}

.btn:hover {
    border: 1px solid #ababab;
    color: #2c2c2c;
    font-size: 1.1rem;
}